@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

/* colors  */
/* #8388F3   */

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(243, 249, 255);
}

@media (max-width: 500px) {
  html {
    font-size: 52%;
  }
}
